{% extends "dashboard.html" %}

{% block title %} Projects {% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% endblock %}


{% block main %}
<a href="/addproject"><button class="btn btn-outline-primary mb-3">Add Project</button></a>
<div class="row"></div>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    {% if projects %}
    {% for project in projects|rejectattr('title','equalto','ADMIN') %}
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-{{ project.po }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ project.po }}" type="button" role="tab" aria-controls="pills-{{ project.po }}" aria-selected="true">{{ project.po }}</button>
    </li>
    {% endfor %}
</ul>
    <div class="tab-content" id="pills-tabContent">
        {% for project in proj|rejectattr('title','equalto','ADMIN') %}
        <div class="tab-pane fade" id="pills-{{ project.po }}" role="tabpanel" aria-labelledby="pills-{{ project.po }}-tab" tabindex="0">
            <div class="content-section">
                <p class="h1">{{ project.title }}</p>
                <hr>
                <div class="vstack gap-2">
                    <div class="hstack gap-2">
                        <div class="p-2 border shadow col-lg-3"><span class="fw-bold">Contract Amount: <span>&#8369;</span></span>{{ '{:,.2f}'.format(project.amount) }}</div>
                        <div class="p-2 border shadow col-lg-3"><span class="fw-bold">Date Started: </span>{% if project.start_date == None %}{{ project.start_date }}{% else %}{{ project.start_date.strftime('%Y-%m-%d') }}{% endif %}</div>
                    </div>
                    <div class="hstack gap-2">
                        <div class="p-2 border shadow col-lg-3"><span class="fw-bold">Project Duration: </span>{{ project.duration }}<span> Days</span></div>
                        <div class="p-2 border shadow col-lg-3"><span class="fw-bold">Project End: </span>{% if project.end_date == None %}{{ project.end_date }}{% else %}{{ project.end_date.strftime('%Y-%m-%d') }}{% endif %}</div>
                    </div> 
                    <div class="p-2 border shadow col-lg-3"><span class="fw-bold">Project Status: </span>{{ project.status }}</div>
                </div>
            </div>
            <div class="content-section">
                <hr>
                {% for item in breakdown|selectattr('project_id','equalto',project.id) %}
                    {% if item.status %}
                    <div class="row">
                        <ol class="list-group col-6 ps-2">
                            <li class="list-group-item">
                                <div class="hstack gap-1">
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">Labor Budget:</span></div>
                                        <div><span>&#8369;{{ '{:,.2f}'.format(item.labor) }}</span></div>
                                    </div>
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">Remaining:</span></div>
                                        {% if item.re_labor <= 0 %}
                                        <div class="text-danger"><span>&#8369;{{ '{:,.2f}'.format(item.re_labor) }}</span></div>
                                        {% else %}
                                        <div class="text-success"><span>&#8369;{{ '{:,.2f}'.format(item.re_labor) }}</span></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="hstack gap-1">
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">Representation Budget:</span></div>
                                        <div><span>&#8369;{{ '{:,.2f}'.format(item.representation) }}</span></div>
                                    </div>
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">Remaining:</span></div>
                                        {% if item.re_representation <= 0 %}
                                        <div class="text-danger"><span>&#8369;{{ '{:,.2f}'.format(item.re_representation) }}</span></div>
                                        {% else %}
                                        <div class="text-success"><span>&#8369;{{ '{:,.2f}'.format(item.re_representation) }}</span></div>
                                        {% endif %}                                    
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="hstack gap-1">
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">Remittance Budget:</span></div>
                                        <div><span>&#8369;{{ '{:,.2f}'.format(item.remittance) }}</span></div>
                                    </div>
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">Remaining:</span></div>
                                        {% if item.re_remittance <= 0 %}
                                        <div class="text-danger"><span>&#8369;{{ '{:,.2f}'.format(item.re_remittance) }}</span></div>
                                        {% else %}
                                        <div class="text-success"><span>&#8369;{{ '{:,.2f}'.format(item.re_remittance) }}</span></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="hstack gap-1">
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">Miscellaneus Budget:</span></div>
                                        <div><span>&#8369;{{ '{:,.2f}'.format(item.misc) }}</span></div>
                                    </div>
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">Remaining:</span></div>
                                        {% if item.re_misc <= 0 %}
                                        <div class="text-danger"><span>&#8369;{{ '{:,.2f}'.format(item.re_misc) }}</span></div>
                                        {% else %}
                                        <div class="text-success"><span>&#8369;{{ '{:,.2f}'.format(item.re_misc) }}</span></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        </ol>
                        <ol class="list-group col-6">
                            <li class="list-group-item">
                                <div class="hstack gap-1">
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">PPE Budget:</span></div>
                                        <div><span>&#8369;{{ '{:,.2f}'.format(item.ppe) }}</span></div>
                                    </div>
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">Remaining:</span></div>
                                        {% if item.re_ppe <= 0 %}
                                        <div class="text-danger"><span>&#8369;{{ '{:,.2f}'.format(item.re_ppe) }}</span></div>
                                        {% else %}
                                        <div class="text-success"><span>&#8369;{{ '{:,.2f}'.format(item.re_ppe) }}</span></div>
                                        {% endif %}

                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="hstack gap-1">
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">Materials Budget:</span></div>
                                        <div><span>&#8369;{{ '{:,.2f}'.format(item.materials) }}</span></div>
                                    </div>
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">Remaining:</span></div>
                                        {% if item.re_materials <= 0 %}
                                        <div class="text-danger"><span>&#8369;{{ '{:,.2f}'.format(item.re_materials) }}</span></div>
                                        {% else %}
                                        <div class="text-success"><span>&#8369;{{ '{:,.2f}'.format(item.re_materials) }}</span></div>
                                        {% endif %}

                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="hstack gap-1">
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">Tools and Equipment Budget:</span></div>
                                        <div><span>&#8369;{{ '{:,.2f}'.format(item.tools_equip) }}</span></div>
                                    </div>
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">Remaining:</span></div>
                                        {% if item.re_tools_equip <= 0 %}
                                        <div class="text-danger"><span>&#8369;{{ '{:,.2f}'.format(item.re_tools_equip) }}</span></div>
                                        {% else %}
                                        <div class="text-success"><span>&#8369;{{ '{:,.2f}'.format(item.re_tools_equip) }}</span></div>
                                        {% endif %}

                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="hstack gap-1">
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">Total Budget:</span></div>
                                        <div><span>&#8369;{{ '{:,.2f}'.format(item.total) }}</span></div>
                                    </div>
                                    <div class="vstack gap-1 col-2">
                                        <div><span class="fw-bold">Total Remaining:</span></div>
                                        {% if item.re_total <= 0 %}
                                        <div class="text-danger"><span>&#8369;{{ '{:,.2f}'.format(item.re_total) }}</span></div>
                                        {% else %}
                                        <div class="text-success fw-bold"><span>&#8369;{{ '{:,.2f}'.format(item.re_total) }}</span></div>
                                        {% endif %}

                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <hr>
                    <div class="row px-2">
                        <div class="col-3">
                            <form action="/breakdown/update" method="POST">
                                <input type="hidden" value="{{ item.labor }}" name="labor_breakdown">
                                <input type="hidden" value="{{ item.representation }}" name="representation_breakdown">
                                <input type="hidden" value="{{ item.remittance }}" name="remittance_breakdown">
                                <input type="hidden" value="{{ item.misc }}" name="misc_breakdown">
                                <input type="hidden" value="{{ item.ppe }}" name="ppe_breakdown">
                                <input type="hidden" value="{{ item.materials }}" name="materials_breakdown">
                                <input type="hidden" value="{{ item.tools_equip }}" name="tools_equip_breakdown">
                                <input type="hidden" value="{{ item.total }}" name="total_breakdown">
                                <input value="projects" type="hidden" name="source_update">
                                <input value="{{ item.project_id }}" id="test" type="hidden" name="project_id_breakdown">
                                <button type="submit" class="btn btn-outline-primary">Change Project Beakdown</button>
                            </form>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-outline-primary" style="width: 211px" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="Delete {{ project.title }}? All data including expenses will get deleted?" data-bs-modalvalue="{{ item.project_id }}">Delete Project</button>
                        </div>
                    </div>
                    <hr>
                    <table class="table table-hover table-bordered table-sm align-middle align-top caption-top" id="table-{{ item.project_id }}">
                        <caption>All Expenses Total: &#8369;{{ '{:,.2f}'.format(item.ex_total) }}</caption>
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Recipt</th>
                                    <th scope="col">Recipt No.</th>
                                    <th scope="col">No of Items</th>
                                    <th scope="col">Unit Cost</th>
                                    <th scope="col">Total Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for ex in item.pro_expen %}
                                <tr>
                                    <td>{{ ex.date.split()[0] }}</td>
                                    <td>{{ ex.description }}</td>
                                    <td>{{ ex.type }}</td>
                                    <td>{{ ex.recipt }}</td>
                                    <td>{{ ex.recipt_no }}</td>
                                    <td>{{ ex.no_items }}</td>
                                    <td>&#8369;{{ '{:,.2f}'.format(ex.unit_cost) }}</td>
                                    <td>&#8369;{{ '{:,.2f}'.format(ex.total_cost) }}</td>
                                </tr>
                            {% endfor %} 
                            </tbody>
                    </table>
                    {% else %}
                    <form action="/breakdown" method="post">
                        <input value="{{ item.project_id }}" id="test" type="hidden" name="project_id">
                        <input value="projects" type="hidden" name="source">
                        <button class="btn btn-outline-primary">Add Breakdown</button>
                    </form>
                    {% endif %}
                {% endfor %}    
             </div>
        </div>
        {% endfor %}
    </div> 
    {% endif %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <form action="/project/delete" method="post"><input type="hidden" value="" name="pro_id"><button type="submit" class="btn btn-danger">DELETE</button></form>
            </div>
          </div>
        </div>
    </div>    
{% endblock %}

{% block script%}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
{% for project in proj2|rejectattr('title','equalto','ADMIN') %}
{% for item in breakdown2|selectattr('project_id','equalto',project.id) %}
{% if item.status %}
<script>
    new DataTable('#table-{{ item.project_id }}');
</script>
{% endif %}
{% endfor %}
{% endfor %}
<script>
const exampleModal = document.getElementById('exampleModal')
if (exampleModal) {
  exampleModal.addEventListener('show.bs.modal', event => {
    // Button that triggered the modal
    const button = event.relatedTarget
    // Extract info from data-bs-* attributes
    const recipient = button.getAttribute('data-bs-whatever')
    const modal_value = button.getAttribute('data-bs-modalvalue')
    // If necessary, you could initiate an Ajax request here
    // and then do the updating in a callback.

    // Update the modal's content.
    const modalTitle = exampleModal.querySelector('.modal-title')
    const modalBodyInput = exampleModal.querySelector('.modal-body input')
    const modalFooterInput = exampleModal.querySelector('.modal-footer input')

    modalTitle.textContent = `${recipient}`
    modalFooterInput.value = modal_value
  })
}
</script>
{% endblock %}